.main-heading-button-wraper{
  display: flex;
  width: 100px;
  height: 35px;
  background-color: black;
  border-bottom: 1px solid white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
