.main-body-wraper{
    display: flex;
    height: 350px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main-body-text{
  border: 2px solid black;
  padding: 20px;
  font-size: 200%;
  font-style: oblique;

}
